<p>
  <mat-toolbar color="primary">
    <mat-icon>pregnant_woman</mat-icon>
    <span style="padding-left: 6px;">{{title}}</span>
  </mat-toolbar>
</p>

<mat-card class="modelcard">
  <h3>
    Number of couples
    <mat-slider min="100" max="9000" step="100" [value]="numCouples" (change)="onCoupleChange($event)" thumbLabel [disabled]="simulationStatus"></mat-slider>
    <button mat-stroked-button color="accent">{{numCouples}}</button>
  </h3>
  <h3>
    Probability of Male
    <mat-slider min="0.01" max="0.99" step="0.01" [value]="pMale" (change)="onProbabilityChange($event)" thumbLabel [disabled]="simulationStatus"></mat-slider>
    <button mat-stroked-button color="accent">{{pMale}}</button>
  </h3>
  <h3>
    <span style="padding-right: 20px;">Limit Family Size</span>
    <mat-slide-toggle [checked]="familySizeLimit" (change)="onFamilyLimitChange($event)" [disabled]="simulationStatus"></mat-slide-toggle>
  </h3>
  <h3 *ngIf="familySizeLimit">
    Maximum Family Size
    <mat-slider min="1" max="20" step="1" [value]="maxFamilySize" (change)="onFamilySizeChange($event)" thumbLabel [disabled]="simulationStatus"></mat-slider>
    <button mat-stroked-button color="accent">{{maxFamilySize}}</button>
  </h3>
  <button style="margin: 6px 10px" mat-raised-button color="primary" (click)="onReset()" [disabled]="simulationStatus">Reset</button>
  <button style="margin: 6px 10px" mat-raised-button [color]="simulationStatus?'warn':'primary'" (click)="onSimulate()" [disabled]="simulationStatus">{{simulationStatus?'Simulating..':'Simulate'}}</button>
</mat-card>

<mat-card class="modelcard">
  <h3 style="text-align: center;">Total Count vs Time</h3>
  <div class="chart-wrapper">
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
  </div>
</mat-card>

<router-outlet></router-outlet>